*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:linear-gradient(180deg,#3d1c8d,#1a1142);
    color:#fff;
    overflow:hidden;
    height:100vh;
}

.top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.avatar{
    width:60px;
    height:60px;
    border-radius:15px;
    background:#ff2d7a;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
}

.name{
    font-size:20px;
    font-weight:bold;
}

.tag{
    color:#ddd;
}

.money{
    display:flex;
    gap:10px;
    font-weight:bold;
}

.center{
    display:flex;
    justify-content:center;
    align-items:center;
    height:45vh;
}

.fighter{
    width:220px;
    height:220px;
    border-radius:30px;
    background:rgba(255,255,255,.08);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:120px;
}

.left,.right{
    position:fixed;
    top:130px;
    display:flex;
    flex-direction:column;
    gap:12px;
}

.left{
    left:10px;
}

.right{
    right:10px;
}

.left button,
.right button{
    width:90px;
    height:75px;
    border:none;
    border-radius:15px;
    background:#2b2b54;
    color:white;
    font-weight:bold;
}

.bottom{
    position:fixed;
    left:0;
    right:0;
    bottom:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 15px;
}

.mode{
    background:#20263d;
    padding:15px;
    border-radius:15px;
    width:58%;
    font-weight:bold;
}

.play{
    width:150px;
    height:75px;
    border:none;
    border-radius:18px;
    background:#ffd400;
    color:#111;
    font-size:28px;
    font-weight:bold;
}
