*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
}

body{
    background:url("images/background.jpg") center center/cover no-repeat;
    color:#fff;
}

.background{
    position:fixed;
    inset:0;
    background:rgba(40,0,90,.35);
}

header{
    position:absolute;
    top:15px;
    left:15px;
    right:15px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    z-index:5;
}

.profile{
    display:flex;
    align-items:center;
    background:#23233d;
    border-radius:18px;
    padding:12px 18px;
    box-shadow:0 6px 0 #111;
}

.avatar{
    width:70px;
    height:70px;
    border-radius:15px;
    margin-right:15px;
}

.profile h2{
    font-size:32px;
}

.profile p{
    color:#ddd;
    font-size:20px;
}

.resources{
    display:flex;
    gap:15px;
}

.resources div{
    background:#1d1d30;
    border-radius:15px;
    padding:12px 22px;
    font-size:24px;
    font-weight:bold;
}

.center{
    position:absolute;
    left:0;
    right:0;
    top:120px;
    bottom:130px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:0 25px;
}

.left,
.right{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.left button,
.right button{

    width:150px;
    height:110px;

    border:none;
    border-radius:18px;

    background:#30345c;
    color:white;

    font-size:24px;
    font-weight:bold;

    cursor:pointer;

    box-shadow:0 6px 0 #181826;

    transition:.15s;
}

.left button:active,
.right button:active{

    transform:translateY(4px);

    box-shadow:none;
}

.hero{

    display:flex;
    flex-direction:column;
    align-items:center;
}

.rank{

    background:#d87715;
    padding:10px 22px;

    border-radius:14px;

    font-size:24px;

    font-weight:bold;

    margin-bottom:20px;
}

.hero img{

    height:430px;

    user-select:none;
}

footer{

    position:absolute;

    left:20px;

    right:20px;

    bottom:20px;

    display:flex;

    gap:20px;
}

.mode{

    flex:1;

    background:#272b47;

    border-radius:20px;

    padding:20px;

    font-size:26px;

    box-shadow:0 6px 0 #111;
}

#playButton{

    width:330px;

    border:none;

    border-radius:20px;

    background:#ffd400;

    color:#111;

    font-size:52px;

    font-weight:bold;

    cursor:pointer;

    box-shadow:0 8px 0 #bb9300;

    transition:.15s;
}

#playButton:active{

    transform:translateY(5px);

    box-shadow:none;
}
